---
import type { Social, Navigation, CopyrightInformation, BuildInformations } from "@scripts/components/footerTypes";
import { Icon } from "astro-icon/components";
import IconText from "@components/IconText.astro";
import Anchor from "@components/Anchor.astro";
import SocialIcon from "@components/SocialIcon.astro";
import Navigations from "@components/Navigations.astro";

export interface Props {
  socials?: Social[];
  navigations?: Navigation[];
  copyrightInformation?: CopyrightInformation;
  buildInformations?: BuildInformations;
  url?: string;
}

const {
  socials = [],
  navigations = [],
  copyrightInformation = {} as CopyrightInformation,
  buildInformations = {} as BuildInformations,
  url = Astro.url.pathname,
} = Astro.props;
---

<footer class="py-6 px-8 flex justify-center items-center bg-sub">
  <div class="w-full flex flex-col gap-4 text-main | max-w-[var(--md-width)] md:max-w-[var(--lg-width)]">
    <section class="flex | flex-col md:flex-row justify-center md:justify-between">

      <!-- Scroll top -->
      <button id="scroll-to-button" class="icon-text justify-center rounded-shadow">
        <Icon name="line-md:arrow-align-top" />
        <p>Return to top of page</p>
      </button>
      <script>
        const button = window.document.getElementById("scroll-to-button");
        button?.addEventListener("click", () => {
          window.scroll({ top: 0, behavior: "smooth" });
        });
      </script>

      <!-- Social icons -->
      <div class="flex justify-center items-center gap-3 flex-wrap">
        {socials.map((social) => <SocialIcon social={social} />)}
      </div>
    </section>

    <!-- Navigations -->
    <Navigations navigations={navigations} url={url} />

    <section class="flex items-center | flex-col md:flex-row justify-center md:justify-between">
      <!-- Copyright infotmation -->
      <Anchor href={copyrightInformation.url}
        ><IconText icon={copyrightInformation.icon}>{copyrightInformation.description}</IconText></Anchor
      >

      <div class="flex justify-center flex-wrap">
        <!-- Build information: Hosting -->
        {buildInformations.hosting && <IconText icon="simple-icons:cloudflare">{buildInformations.hosting}</IconText>}

        <!-- Build information: Astro version -->
        {
          buildInformations.astroVersion && (
            <IconText icon="simple-icons:astro">{buildInformations.astroVersion}</IconText>
          )
        }
      </div>
    </section>
  </div>
</footer>
