---
export interface Props {
  text: string;
  num?: number;
}

const { text, num } = Astro.props;
---

<hgroup class="mx-4 my-32 flex flex-col gap-2 text-center">
  {
    () => {
      switch (num) {
        case 2:
          return <h2>{text}</h2>;
        case 3:
          return <h3>{text}</h3>;
        case 4:
          return <h4>{text}</h4>;
        case 5:
          return <h5>{text}</h5>;
        default:
          return <h1 class="text-4xl">{text}</h1>;
      }
    }
  }
  <p><slot /></p>
</hgroup>
